.team-container-wrapper{
	min-height: 100vh;
}

/* start style the team info container  */
.team-info-container-wrap{
	padding: 1rem;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	/* background-color: gray; */
	margin-top: 6rem;
}
.team-info-img-container{
	/* background-color: rgb(226, 204, 204); */
	width: 45%;
	padding: 1rem 0;
}
.team-info-img-container img{
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 300px;
	/* border-radius: 1rem; */
}
.team-info-container{
	width: 47%;
}
.team-info-title{
	text-align: center;
	padding: 1rem 0;
	color: #0fb41d;
	letter-spacing: 1px;
}
.team-info{
	/* color: white; */
	text-align: justify;
	font-size: 0.8rem;
}

/*************** start of the team member info  section ********************/
.team-members-wrapper{
	padding: 1rem 1rem;
	/* background-color: rgba(34, 34, 34, 0.5); */
}
.section-title{
	text-align: center;
	/* padding-bottom: 1rem; */
	color: #06570c;
}
.underline-wrapper{
	display: flex;
	justify-content: center;
	width: 500px;
	margin: 0 auto;
	align-items: center;
	margin-bottom: 1rem;
}
.title-underline{
	width: 200px; 
	margin: 0 auto;
	height: 1px;
	background-color: #06570c;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #06570c;
	margin: 0 auto;
}
.team-member-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 1rem;

}
.single-member-container{
	height: 250px;
	background: url("../../../assets/img/Team/team01.jpg");
	background-size: 300px 250px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: all ease 1s;
	background-color: red;
	cursor: pointer;
}
.single-member-info-container{
	background-color: rgba(0, 0, 0, 0.8); 
	color: white;
	height: 250px; 
	padding: 1rem;
	display: none;
	position: absolute;
	padding-top: 2.5rem;

}
.test{
	/* margin: auto 0; */
	/* margin-top: 2rem; */
}
.single-member-container:hover .single-member-info-container{
	display: block;
	top: 0;
	left: 0;
}
.member-name{
 color: #0fb41d;
}
.designation{
 font-size: 0.8rem;
}
.bottom-line{
	width: 50%;
	/* border: 1px solid #0fb41d; */
	height: 1px;
	background-color: #0fb41d;
	margin-bottom: 1rem;
	margin-top: 0.4rem;
}
.member-education{
	font-size: 0.8rem;
}
	
		
		

	
	


/*************** end  of the team member info  section ********************/
