.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	height: 3.5rem;
	transition: all ease 0.5s; 
	background-color: transparent;
	padding: 0 1rem;
	top: 0;
	left: 0;
}
.header-bg{
	background-color: rgba(255, 255, 255, 0.8);
	transition: all ease 0.5s;
}
.logo-link{
	display: block;
}
@media screen and ( max-width:992px ){
	.header-container{
		display: block;
	}
	.mobile-menu{
		display: flex;
		justify-content: space-between; 
		align-items: center;
		padding: 0.3rem;
	}
}

.navbar-container{
	display: flex;
   justify-content: space-between;  
	align-items: center; 
	width: 45%;
   list-style-type: none;
   margin-top:1.2rem;
}


.sub-menu-link, .menu-link{
	font-size: 1rem;
	font-weight: 600;

	text-decoration: none;
	letter-spacing: 0.1rem;
	text-transform: uppercase;

	color: #237229;
	transition: all ease 0.3s;
}
.hover-menu{
	position: relative;
}
.sub-menu-container{
	list-style-type: none;
	position: absolute;
	width: 300px;
	left: -99999999px;
}
.hover-menu:hover .sub-menu-container{
	left: -32px;
}
.sub-menu-list{
	margin-top: 0.5rem;
}
.sub-menu-link:hover{
	color: #1bbb40;
}
.menu-link:hover {
	color: #1bbb40;
}
.hamburger {
	display: none;
}
/* ************for tablet and mobile view ****************** */
@media screen and ( max-width:992px ){
	.header-container{
		flex-direction: column;
	}
	.navbar-container{
		flex-direction: column;
		width: 100%;
		display: none;
		background: rgb(255, 255, 255, 0.7);
		min-height: 100vh;
		transition: all ease 0.3s;
	}
	.team-list{
		margin-top: 1rem;
		display: block;
	}
	.menu-list{
		padding: 0.3rem 1rem;
		margin-top: 1rem;
		transition: all ease-in-out 0.3s;  
	}
	.menu-list:hover{
		background-color: rgb(153, 151, 151);
	}
	.menu-link{
		font-size: 1.5rem;
		transition: all ease-in-out 0.3s;
	}
	.menu-link:hover {
		padding-left: 1rem;
		color: #0a9259;
	}
	.active{
		display: block;
	} 
	.hamburger {
		display: initial;
	}
	.sub-menu-container{
		margin-left: 2rem;
		height: 180px;
		width: 100%;
	}
	.sub-menu-list{
		transition: all ease 0.3s;
	}
	.sub-menu-link{
		display: block;
		margin: 0.1rem 0;
		font-size: 1.2rem;
		color: #237229;
		transition: all ease 0.3s;
	}
	.sub-menu-link:hover{
		color: #0a9259;
		padding-left: 1rem;
	}
	.hover-menu:hover{
		margin-bottom: 175px;
	}
}