@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* reset 
 Using this for removing the browser default margin and padding and a child container always remain within parent container.
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.loader-container{
	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(41, 37, 37, 0.6);
    z-index: 9999;
}
.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #237229 transparent #237229 transparent;
    border-radius: 50%;
    animation: spin-anim 1s linear infinite;
}
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}