@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* reset 
 Using this for removing the browser default margin and padding and a child container always remain within parent container.
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  /* font-family: 'Roboto', sans-serif; */
}